#app {
  min-height: 100vh;
  display: flex;
}

.main__container{
  margin: 0 auto;
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  flex-basis: 260px;
  padding: 1.25rem 8px 3rem 8px;
  background-color: #FFFFFF;
  border-radius: 0 1rem 1rem 0;
  // overflow-x: hidden;
  min-width: min-content;

  > *:not(script) {
    flex-grow: 1;
  }
}