.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  &__row {
    > *:not(script) {
      padding: 50px 8px;
    }
    &:not(:empty) {
      margin: -50px -8px;
    }
  }

  &__logo {
    display: block;
    &-img {
      flex-basis: 97px;
    }
  }
}
