.container-login{
  max-width: 620px;
  max-height: 320px;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 10px;
  background-color: #1A2028;
}
.login{
  &-title{
    margin-bottom: 40px;
  }
  &-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_input{
      width: 350px;
      height: 30px;
      border-radius: 10px;
      border: none;
      margin-bottom: 32px;
      background-color: #31353F;
      padding-left: 15px;
    }
  }
}
.button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #DE3163;
  color: white;
  cursor: pointer;
}
.error-message{
  color: #DE3163;
  margin-bottom: 8px;
  margin-top: -16px;
}

.noError{
  display: none;
}

@media(max-width: 635px){
  .container-login{
    max-width: 420px;
    max-height: 280px;
  }
  .login{
    &-title{
      font-size: 24px;
    }
  }
}

@media(max-width: 430px){
  .container-login{
    max-width: 280px;
    max-height: 280px;
  }
  .login{
    &-title{
      font-size: 16px;
    }
    &-form{
      &_input{
        width: 200px;
      }
    }
  }
  .error-message{
    font-size: 12px;
  }
}

@media(max-width: 290px){
  .container-login{
    max-width: 150px;
    text-align: center;
  }
  .login{
    &-title{
      font-size: 10px;
    }
    &-form{
      &_input{
        width: 100px;
        height: 20px;
        font-size: 8px;
      }
    }
  }
  .error-message{
    font-size: 8px;
  }
  .button{
    width: 80px;
    height: 20px;
    font-size: 8px;
  }
}

