.res{
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__name{
    text-align: center;
    &--content{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1.5rem;
    }
  }
  &__info{
    display: flex;
    &--item{
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__date{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__user{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button{
    background-color: #DE3163;
    border: none;
    color: white;
    padding: .75rem 2rem;
    border-radius: .5rem;
    font-size: 15px;
    cursor: pointer;
    &--delete{
      margin-left: 1.5rem;
    }
  }
}

.name{
  &__title{
    margin: 0 1rem 0 0;
  }
  &__text{
    margin: 0 1rem 0 0;
  }
}

.date{
  &__title{
    margin-bottom: 0;
  }
}

.user{
  &__title{
    margin: 0;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    &--container{
      display: flex;
      flex-direction: column;
    }
    &--edit{
      background-color: #1A2028;
      border: none;
      cursor: pointer;
      padding-left: 1rem;
    }
    &--text{
      &-fio{
        margin-top: 0;
      }
    }
  }
  &__edit{
    &--content{
      display: flex;
      padding: 1rem 0 2rem;
      flex-direction: column;
      text-align: center;
    }
  }
}

.content{
  &__input{
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    margin-right: 1rem;
    background-color: #31353F;
    color: white;
  }
  &__agree{
    border: none;
    cursor: pointer;
    background-color: #DE3163;
    border-radius: .5rem;
    color: white;
    padding: .5rem 1rem;
  }
}

.buttons{
  &__container{
    display: flex;
  }
}

.delete{
  &__result{
    &--text{
      color: #DE3163;
      font-weight: bold;
    }
  }
}

.comment{
  &__text{
    margin: 0;
    padding-bottom: .5rem;
  }
}
