.header {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  padding: 3rem 8px;
  background-color: #1A2028;
  color: white;
  // overflow-x: hidden;
  min-width: min-content;

  > *:not(script) {
    flex-grow: 1;
  }
}

.main{
  flex-grow: 1;

  &__forhead {
    //max-width: 1200px;
    grid-area: main__forhead;
  }

  &--dashboard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3rem 1fr 3rem 1fr 3rem 1fr 3rem;
    grid-template-rows:
      3rem
      1fr
      auto
      3rem
      auto
      3rem
      auto
      3rem
      auto
      3rem
      auto
      3rem
      1fr;
    grid-template-areas:
      '. .              .             .               .             .                .'
      '. .              .             .               .             .                .'
      '. main__forhead  main__forhead main__forhead   main__forhead main__forhead    .'
      '. .              .             .               .             .                .'
      '. activeRes      activeRes     activeRes       .             commonInfo       .'
      '. .              .             .               .             .                .'
      '. SSL         .             WAF             .             report              .'
      '. .              .             .               .             .                .'
      '. reports        reports       reports         reports       reports          .'
      '. .              .             .               .             .                .'
      '. certificates   certificates  certificates    certificates  certificates     .'
      '. .              .             .               .             .                .'
      '. .              .             .               .             .                .';
  }
}

.form {
  $form: &;

  &__dropDown {
    font-size: 20px;
    padding: .5rem 1rem;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    height: 30px;
    text-align-last: center;
    filter: drop-shadow(5px 1rem 3rem rgba(0, 0, 0, 0.25));
    background: #1A2028;
  }

  &--basic {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    #{$form} {
      &__check{
        margin-inline-start: auto;
      }
      &__search {
        background-color: #1A2028;
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: .5rem;
        margin-right: 1.5rem;
      }
      &__submit{
        background-color: #DE3163;
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
      }
    }
  }
}

.chart{
  // aspect-ratio: 456/350;
  background-color: #1A2028;
  border-radius: 1rem;
  filter: drop-shadow(5px 1rem 3rem rgba(0, 0, 0, 0.25));
  padding: 2.5rem;

  &--activeRes {
    grid-area: activeRes;
    text-align: center;
    //  aspect-ratio: 996/350;
  }

  &--commonInfo {
    grid-area: commonInfo;
  }

  &--report {
    grid-area: report;
  }

  &--SSL {
    grid-area: SSL;
    text-align: center;
  }

  &--WAF {
    grid-area: WAF;
  }

  &--reports{
    grid-area: reports;
  }

  &--certificates{
    grid-area: certificates;
  }

  &__container{
    canvas{
      max-width: 100%;
    }

  }
  &__title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

}

.modal{
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }
  &__title{
    font-size: 20px;
    margin: 0;
  }
}

.content{
  &__noActive{
    text-align: center;
    padding-right: 3rem;
  }
}

.report{
  &__content{
    display: flex;
    justify-content: center;
  }
  &__array{
    padding: 0;
    max-height: 105px;
    &--item{
      text-decoration: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  &__last{
    display: flex;
    &-noActive{
      padding-right: 2rem;
    }
  }
}

@media(max-width: 1820px){
  .container{
    &-dashboard{
      max-width: 1200px;
    }
  }
  .bottomCharts{
    max-width: 1200px;
  }
  .chart{
    &-container{
      // height: 23rem;
    }
    &-title{
      margin-bottom: 0;
    }
  }
  .last{
    &-week{
      text-align: center;
    }
  }
  .current{
    &-week{
      text-align: center;
    }
  }
}

@media(max-width: 1500px){
  .container{
    &-dashboard{
      max-width: 1000px;
    }
  }
  .bottomCharts{
    max-width: 900px;
  }
  .chart{
    &-container{
      // height: 23rem;
    }
  }
}

@media(max-width: 1200px){
  .bottomCharts{
    max-width: 600px;
    flex-wrap: wrap;
  }
  .chart{
    padding: 20px;
    &-report{
      margin-bottom: 20px;
    }
    &-container{
      // height: 180px;
      font-size: 15px;
    }
  }
  .current{
    &-week{
      margin-top: 0;
    }
  }
}
